@charset "utf-8";

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-Regular.eot");
  src: url("../assets/font/ManifoldDSA-Regular.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-Regular.woff") format('woff'),
       url("../assets/font/ManifoldDSA-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-Bold.eot");
  src: url("../assets/font/ManifoldDSA-Bold.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-Bold.woff") format('woff'),
       url("../assets/font/ManifoldDSA-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-RegularItalic.eot");
  src: url("../assets/font/ManifoldDSA-RegularItalic.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-RegularItalic.woff") format('woff'),
       url("../assets/font/ManifoldDSA-RegularItalic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-BoldItalic.eot");
  src: url("../assets/font/ManifoldDSA-BoldItalic.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-BoldItalic.woff") format('woff'),
       url("../assets/font/ManifoldDSA-BoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-ExtraBold.eot");
  src: url("../assets/font/ManifoldDSA-ExtraBold.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-ExtraBold.woff") format('woff'),
       url("../assets/font/ManifoldDSA-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-ExtraBoldItalic.eot");
  src: url("../assets/font/ManifoldDSA-ExtraBoldItalic.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-ExtraBoldItalic.woff") format('woff'),
       url("../assets/font/ManifoldDSA-ExtraBoldItalic.ttf") format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-Light.eot");
  src: url("../assets/font/ManifoldDSA-Light.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-Light.woff") format('woff'),
       url("../assets/font/ManifoldDSA-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-LightItalic.eot");
  src: url("../assets/font/ManifoldDSA-LightItalic.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-LightItalic.woff") format('woff'),
       url("../assets/font/ManifoldDSA-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-Medium.eot");
  src: url("../assets/font/ManifoldDSA-Medium.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-Medium.woff") format('woff'),
       url("../assets/font/ManifoldDSA-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-MediumItalic.eot");
  src: url("../assets/font/ManifoldDSA-MediumItalic.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-MediumItalic.woff") format('woff'),
       url("../assets/font/ManifoldDSA-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-DemiBold.eot");
  src: url("../assets/font/ManifoldDSA-DemiBold.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-DemiBold.woff") format('woff'),
       url("../assets/font/ManifoldDSA-DemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-DemiBoldItalic.eot");
  src: url("../assets/font/ManifoldDSA-DemiBoldItalic.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-DemiBoldItalic.woff") format('woff'),
       url("../assets/font/ManifoldDSA-DemiBoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-ExtraBold.eot");
  src: url("../assets/font/ManifoldDSA-ExtraBold.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-ExtraBold.woff") format('woff'),
       url("../assets/font/ManifoldDSA-ExtraBold.ttf") format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-ExtraBoldItalic.eot");
  src: url("../assets/font/ManifoldDSA-ExtraBoldItalic.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-ExtraBoldItalic.woff") format('woff'),
       url("../assets/font/ManifoldDSA-ExtraBoldItalic.ttf") format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-Heavy.eot");
  src: url("../assets/font/ManifoldDSA-Heavy.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-Heavy.woff") format('woff'),
       url("../assets/font/ManifoldDSA-Heavy.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Manifold DSA";
  src: url("../assets/font/ManifoldDSA-HeavyItalic.eot");
  src: url("../assets/font/ManifoldDSA-HeavyItalic.eot") format('embedded-opentype'),
       url("../assets/font/ManifoldDSA-HeavyItalic.woff") format('woff'),
       url("../assets/font/ManifoldDSA-HeavyItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic;
}


// Define defaults for each variable.

$base-font-family: "Manifold DSA", Kilma, "Roboto Slab", sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$dsa-red:          #ec1f27;
$dsa-black:        #231f20;
$dsa-white:        #ffffff;

$text-color:       $dsa-black;
$background-color: $dsa-white;
$brand-color:      $dsa-red;;

$grey-color:       lighten($dsa-black, 50%);;
$grey-color-light: lighten($dsa-black, 75%);;
$grey-color-dark:  lighten($dsa-black, 25%);;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "ithaca_dsa/base",
  "ithaca_dsa/layout",
  "ithaca_dsa/syntax-highlighting"
;
